INF-099.csproj
PrimeiroExemplo/PrimeiroExemplo.csproj
PrimeiroExemplo/bin/Debug/net6.0/PrimeiroExemplo.deps.json
PrimeiroExemplo/bin/Debug/net6.0/PrimeiroExemplo.dll
PrimeiroExemplo/bin/Debug/net6.0/PrimeiroExemplo.exe
PrimeiroExemplo/bin/Debug/net6.0/PrimeiroExemplo.pdb
PrimeiroExemplo/bin/Debug/net6.0/PrimeiroExemplo.runtimeconfig.json
PrimeiroExemplo/obj/PrimeiroExemplo.csproj.nuget.dgspec.json
PrimeiroExemplo/obj/PrimeiroExemplo.csproj.nuget.g.props
PrimeiroExemplo/obj/PrimeiroExemplo.csproj.nuget.g.targets
PrimeiroExemplo/obj/project.assets.json
PrimeiroExemplo/obj/project.nuget.cache
PrimeiroExemplo/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
PrimeiroExemplo/obj/Debug/net6.0/apphost.exe
PrimeiroExemplo/obj/Debug/net6.0/PrimeiroExemplo.AssemblyInfo.cs
PrimeiroExemplo/obj/Debug/net6.0/PrimeiroExemplo.AssemblyInfoInputs.cache
PrimeiroExemplo/obj/Debug/net6.0/PrimeiroExemplo.assets.cache
PrimeiroExemplo/obj/Debug/net6.0/PrimeiroExemplo.csproj.AssemblyReference.cache
PrimeiroExemplo/obj/Debug/net6.0/PrimeiroExemplo.csproj.CoreCompileInputs.cache
PrimeiroExemplo/obj/Debug/net6.0/PrimeiroExemplo.csproj.FileListAbsolute.txt
PrimeiroExemplo/obj/Debug/net6.0/PrimeiroExemplo.dll
PrimeiroExemplo/obj/Debug/net6.0/PrimeiroExemplo.GeneratedMSBuildEditorConfig.editorconfig
PrimeiroExemplo/obj/Debug/net6.0/PrimeiroExemplo.genruntimeconfig.cache
PrimeiroExemplo/obj/Debug/net6.0/PrimeiroExemplo.GlobalUsings.g.cs
PrimeiroExemplo/obj/Debug/net6.0/PrimeiroExemplo.pdb
PrimeiroExemplo/obj/Debug/net6.0/ref/PrimeiroExemplo.dll
PrimeiroExemplo/obj/Debug/net6.0/refint/PrimeiroExemplo.dll
